.labs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.lab-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #fff;
}

.lab-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

.lab-card ul {
    list-style: none;
    padding: 0;
    margin: 0 0 15px 0;
}

.lab-card ul li {
    font-size: 1rem;
    color: #555;
    margin: 5px 0;
    padding-bottom: 5px;
    font-size: 19px;
}


.lab-card a {
    text-decoration: none;
}
