body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.main-header .site-logo {
    height: 50px;
}

main {
    display: flex;
    flex-wrap: wrap;
    padding: 58px;
}

main .left-section {
    flex: 1;
    max-width: 45%;
    margin-left: 30px;
}

main .left-section img {
    width: 500px;
    border-radius: 8px;
    margin-bottom: 20px;
}

main .right-section {
    flex: 1;
    max-width: 50%;
}

main h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #222;
}

main p {
    margin-bottom: 15px;
    color: #555;
}

main ul {
    list-style: none;
    padding: 0;
}

main ul li {
    margin-bottom: 10px;
}

main ul li a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s;
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
        padding: 20px;
    }

    main .left-section,
    main .right-section {
        max-width: 100%;
        margin: 0;
    }

    main .left-section img {
        width: 100%;
    }
}